* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 450px;
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
    margin: auto;
}

.title {
    background-color: #f25;
    color: white;
    padding: 5px 0;
    margin: 5px 0;
}

.xo {
    color: rgb(255, 238, 0);
}

.square {
    width: 145px;
    height: 145px;
    background-color: #f25;
    color: white;
    float: left;
    margin: 2px;
    font-size: 90px;

}

.square:hover {
    background-color: #000;
    cursor: pointer;
}



/* dark mode */

.mode {
    position: relative;
    left: 10px;
    top: -15px;
}

.mode span {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border-radius: 20px;
    background-color: #ffffffd2;
}

.mode span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 18px;
    left: 1px;
    top: 2px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000;
    transition: .4s;
}

span.active {
    background: #222;
}

span.active::before {
    left: 23px;
    background: #fff;
}

.night {
    background: rgb(108,109,107);
    color: white;
}


span.active .square:hover {
    background-color: #fff;
    cursor: pointer;
}